.contactus{
    margin: 7rem 0;
  &__content{
      display: grid;
      grid-template-columns: repeat(2,1fr);
    .contact{
        &__left{
           background-color: $veryLightGray;
           padding: 2rem;
           h2{
               margin-bottom: 2.5rem;
           }
           form
           {
               label{
                   display: block;
               }
               input,textarea{
                 padding: 1rem;
                 width: 80%;
                 border: none;
                 outline: none;
               }
               .form-group{
                   margin-bottom: 2rem;
               }
               textarea{
                resize: none;
               }
               input[type="submit"]{
                   background-color: $limGreen;
                   color: #fff;
                   display: inline-block;
                   width: unset;
                   padding: 1rem 2.4rem;
                   cursor: pointer;
               }
               input:focus,textarea:focus{
                   border: 1px solid;
                   border-color: $limGreen;
               }
           }
        }

        &__right{
           iframe{
               width: 100%;
           }
        }

  
    }
}
}


@media screen and (max-width: 768px) {
    .contactus{
      &__content{
          grid-template-columns: 1fr;

          .contact{
              form{
                  width: 100%;
              }
          }
      }
    }
}