.rents{
    text-align: center;
    margin: 7rem  0;
    P{
        //TODO:reduce for mobile
        width: 50%;
        margin: 0 auto 2rem auto;
    }

    &__content{
        //TODO: for mobile
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 3rem;
    }
    .card{
        width: 90%;
        margin: 0 auto;
        box-shadow: 1px 1px 5px 1px #c3bfbf;
        position: relative;
        &::before{
            content: "For Rent";
            background-color: #ff8d00;
            position: absolute;
            top: 10px;
            left: -10px;
            padding: 1rem;
            display: block;
            color: #fff;
            font-size: 1.2rem;
        }
        &__header{
            img{
                width: 100%;
                height: 250px;
            }
            h3{
                color: $secondary;
                margin: 2rem 0 1rem 0;
            }
            .price
            {
                color: $limGreen;
                font-weight: 500;
                margin-bottom: 1.5rem;
                display: inline-block;
            }
        }
        
    }
}

@media screen and (max-width: 768px) {
   .rents{
       p{
           width: 80%;
           line-height: 1.6;
       }
       &__content{
           grid-template-columns: 1fr;
       }
   }
    
}